
body {
		background: #ffffff;
    font-family: 'calibri';
    font-style: normal;
		font-weight: 300;
    overflow-x: hidden;
}

/* Propriedades para texto branco padrão*/
  text_bp 
       {
    font-size: 25px; 
    color:#ffffff; 
    font-family: calibri;
       }

/* Propriedades para texto verde padrão*/
  text_vp 
       {
    font-size: 25px; 
    color:#20B2AA; 
    font-family: calibri;
       }


/* Propriedades para texto preto padrão*/
  text_pp 
       {
    font-size: 25px; 
    color:#000000; 
    font-family: calibri;
       }

/* Propriedades para titulo branco*/
  text_tb 
       {
    font-size: 33px; 
    color:#ffffff; 
    font-family: calibri;
    font-weight: bold;
       }

/* Propriedades para titulo verde*/
  text_tv 
       {
    font-size: 33px; 
    color:#20B2AA; 
    font-family: calibri;
    font-weight: bold;
       }

/* Propriedades para titulo preto*/
  text_tp 
       {
    font-size: 33px; 
    color:#000000; 
    font-family: calibri;
    font-weight: bold;
       }

#portfolio
{
  padding-top: 0px;
  padding-bottom: 120px;
}

/*---------------------------------------
    Main Navigation             
-----------------------------------------*/

.navbar-default {
    background: #ffffff;
    padding: 18px 0;
    border: none;
    margin-top: 62px;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: transparent;
}

.navbar-default .navbar-brand {
  padding-top: 6px;
}

.navbar-default .navbar-brand .fa {
  color: #000;
  font-size: 42px;
}

.navbar-default .navbar-nav li a {
    color: #777;
    font-size: 16px;
    letter-spacing: 1px;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    padding-right: 22px;
    padding-left: 22px;
}

.navbar-default .navbar-nav > li a:hover {
    color: #333 !important;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #777;
    background-color: transparent;
}

.navbar-default .navbar-nav li a:hover,
 .navbar-default .navbar-nav .active > a {
    color: #333;
  }

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #333;
    background-color: transparent;
}

.navbar-default .navbar-toggle {
     border: none;
     padding-top: 10px;
  }

.navbar-default .navbar-toggle .icon-bar {
    background: #bdc3c7;
    border-color: transparent;
  }

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus { 
  background-color: transparent;
}



/*---------------------------------------
    Home section              
-----------------------------------------*/

#home {
    background-size: cover;
    background-position: center center;
    display: -webkit-box;
    display: -webkit-flex;
     display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
     align-items: center;
    position: relative;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 40px;
}




/*---------------------------------------
   Portfolio section              
-----------------------------------------*/

#portfolio small {
  color: #f0f0f0;
  font-size: 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

#portfolio .portfolio-thumb {
  position: relative;
  padding: 0;
  margin-top: 0px;
}

#portfolio .portfolio-thumb .portfolio-overlay {
  position: absolute;
  background: #222;
  color: #ffffff;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: top;
  opacity: 0;
  transition: all 0.4s ease-in-out;
}

#portfolio .portfolio-item {
    position: absolute;
    top:50%;
    left: 50%;
    -webkit-transform:translate(-50%,-50%);
      -ms-transform:translate(-50%,-50%);
          transform:translate(-50%,-50%);
}

#portfolio .portfolio-thumb:hover .portfolio-overlay {
  opacity: 0.9;
}

#portfolio .text-center {
  padding-top: 62px;
}



/*---------------------------------------
   Single Project section              
-----------------------------------------*/

#single-project {
  text-align: center;
}

#single-project .col-md-12,
#single-project .col-md-6,
#single-project .col-md-4 {
  padding-left: 0px;
  padding-bottom: 22px;
}

#single-project .col-md-12 {
  padding-top: 42px;
}

#single-project .text-center strong {
  display: block;
  padding-top: 12px;
}

#single-project a {
  color: #555;
  font-weight: bold;
  letter-spacing: 1px;
  padding-left: 14px;
}



/*---------------------------------------
   Mobile Responsive         
-----------------------------------------*/


@media (max-width: 767px) {

  h1 {
    font-size: 38px;
  }

  h2 {
    font-size: 32px;
    line-height: 48px;
  }

  h3 {
    font-size: 22px;
  }

  .section-title h2 {
    font-size: 22px;
    line-height: 35px;
  }

  .navbar-default {
    margin-top: 0px;
    text-align: center;
  }

  #about .col-md-8 img {
    padding-right: 0px;
  }

  #blog-single-post .blog-post-title h2 {
    font-size: 29px;
    line-height: 40px;
  }

  footer {
    text-align: center;
  }

  footer .col-md-4 {
    padding-top: 42px;
  }

}


